<div class="wrapper">
  <div class="question-list">
    <div class="questions" >
      <% @questions.each do |question| %>
        <div class="question">  
          <div class="comments">
            <div class="comments-count">0</div>
            <p>comments</p>
          </div>
          <div class="question-content">
            <div class="upper-content">
              <div class="question-title"><%= link_to question.title, question_path(question.id) %></div>
              <div class="user-name"><%= question.name %></div>
            </div>
            <div class="content"><%= question.content %></div>
          </div>  
        </div>
      <% end %>
    </div>
  </div> 
</div>  