header {
  height: 65px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c3667;
}

.header-title a{
  font-size: 23px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-decoration: none;
  padding: 2px;
}

.question-btn {
  height: 32px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-btn a {
  font-size: 16px;
  color: #3a3736;
  text-decoration: none;
}

.wrapper {
  background-color: #f2f2f3;
}

.question-list {
  display: flex;
  justify-content: center;
}

.questions {
  width: 700px;
  margin-top: 90px;
  margin-bottom: 100px;
}

.question {
  height: 100px;
  display: flex;
  background-color: #ffffff;
  margin-bottom: 25px;
}

.comments {
  width: 70px;
  background-color: #1c3667;
  color: #ffffff;
  border-radius: 5px 0 0 5px;
  text-align: center;
}

.comments-count {
  margin-top: 20px;
  height: 38px;
  font-size: 26px;
}

.comments p {
  height: 16px;
  font-size: 11px;
}

.question-content {
  height: 100px;
  width: calc(700px - 70px);
  padding: 10px 15px;
  font-size: 12px;
  background-color: #ffffff;
}

.upper-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.question-title {
  font-size: 14px;
  width: 500px;
}

.question-title a {
 text-decoration: none;
 color: black;
}

.new-main {
  height:  calc(100vh - 65px);
  padding: 80px 0;
  background-color: #f2f2f3;
}

.form {
  width: 700px;
  height: 410px;
  margin: 0 auto;
}

.form-top {
  width: 100%;
  height: 45px;
  border-radius: 5px 5px 0 0;
  background-color: #1c3667;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-top p {
 color: #ffffff;
}

.form-main {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 40px 0;
}

.input-items {
  width: 520px;
  margin: 0 auto;
}

.input-items input {
  width: 100%;
  height: 100%;
}

.input-items textarea {
  width: 100%;
  height: 100%;
}

.input-items__title {
  height:30px;
  margin-bottom: 15px;
}

.input-items__content {
  height: 120px;
  margin-bottom: 15px;
}

.input-items__name {
  height: 30px;
  margin-bottom: 20px;
}

.input-items__submit {
  height: 36px;
  width: 100%;
}

.input-items__submit input {
  font-size: 18px;
  color: #ffffff;
  background-color: #1c3667;
}

.show {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-show {
  width: 1200px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
}

.content-show-top {
  padding: 5px 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.8px;
  border-radius: 5px 5px 0 0;
  background-color: #1c3667;
  color: #ffffff;
}

.content {
  border: 1px solid black;
  background-color: #ffffff;
  padding: 5px 10px;
}

.question-title-show {
  font-size: 25px;
  text-decoration: underline;
}

.question-content-show {
  width: 1100px;
  margin-top: 20px;
  font-size: 20px; 
}

.question-name-show {
  margin-top: 20px;
  font-size: 15px;
}

.answer-top {
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.8px;
  background-color: #1c3667;
  color: #ffffff;
}

.answers-comments {
  margin-top: 20px;
  width: 1200px;
}

.answers {
  border: 1px solid black;
  background-color: #ffffff;
  padding: 15px 10px;
  margin-bottom: 50px;
}

.comment-form {
  margin-top: 10px;
  border-top: 1px solid black;
}

.comment-form span {
  padding-left: 5px;
}

.comment-form textarea {
  margin-top: 10px;
  width: 400px;
  height: 60px;
}

.comment-input-submit input {
  margin-top: 20px;
  color: #ffffff;
  background-color: #1c3667;
}

footer {
  height: 60px;
  background-color: #1c3667;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title a {
  font-size: 23px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-decoration: none;
  padding: 2px;
}